@tailwind base;
@tailwind components;
@tailwind utilities;

/* all of the following is for the markdown content of the posts */
a {
  color: #3b82f6;
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

/* p > code {
  background-color: rgba(217, 221, 224, 0.469);
  border-radius: 6px;
  padding: .2em .4em;
  margin: 0;
} */

pre > code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #f6f8fa;
}

.hljs {
  background: #f6f8fa;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #c7cace;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #c7cace;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  margin: 1.5rem 0 1rem;
}

h1 code,
h2 code,
h3 code,
h4 code {
  background-color: transparent;
}

p {
  margin: 1rem 0;
}

blockquote {
  display: block;
  border-left: 4px solid #c3c6ca;
  background-color: rgba(219, 224, 230, 0.2);
  padding: 8px 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote > p {
  margin: 0;
}

ul {
  margin: 0.5rem 0;
  padding: 0 0 0 1.5rem;
  list-style-type: disc;
}

ol {
  margin: 0.5rem 0;
  padding: 0 0 0 1.5rem;
  list-style-type: decimal;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
  list-style-type: circle;
}

* {
  letter-spacing: 0.025em;
}
